.degradado {
    background-image: var(--color-fondo-degradado);
}

.icon-big {
    font-size: 100px;
}

/* ANIMACIONES */

.slide-up {
    opacity: 0; /* Comienza con opacidad 0 para que esté oculto inicialmente */
    animation: aparecer-desde-arriba 0.5s ease-in-out forwards; /* Aplica la animación */
}

@keyframes aparecer-desde-arriba {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-right {
    opacity: 0; /* Comienza con opacidad 0 para que esté oculto inicialmente */
    animation: aparecer-desde-derecha 0.5s ease-in-out forwards; /* Aplica la animación */
}

@keyframes aparecer-desde-derecha {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo {
    background-color: #B6F5A2;
}

.fondo:hover {
    background-color: #99d578;
    color: white;
}

menu {
    font-family: 'Outfit', sans-serif;
}

menu:hover {
    background-color: var(--color-primario);
    color: white;
}

.sombreado {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9);
}

.contenido-principal {
    height: var(--tamano-contenido-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-secundario {
    background-color: rgba(200, 200, 200, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.custom-navbar-toggler {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    padding: 0;
}

.custom-navbar-toggler:focus {
    outline: none;
}

.texto-mediano {
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    text-align: start !important;
}

.texto-pequeno {
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
}

.texto-muy-pequeno {
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
}
.elemento-menu{
    display: flex;
    align-content: center !important;
}

.custom-toast {
    --bs-toast-max-width: auto;
    --bs-toast-header-bg: #cb3234;
    --bs-toast-header-color: white;
    --bs-toast-body-bg: #cb3234;
    --bs-toast-body-color: white;
}

/* CSS PARA PANTALLAS PEQUEÑAS (MEDIA QUERY) */
@media screen and (max-width: 768px) {
    .contenido-secundario {
        height: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .contenido-principal {
        height: 48rem;
    }
}